:root {
    --accent-dark: #2E7D32;
	--accent-light: #A5D6A7;
	
	--green-dark: #2E7D32;
	--green-light: #A5D6A7;

	--blue-dark: #1565C0;
	--blue-light: #90CAF9;
	
	--yellow-dark: #F9A825;
	--yellow-light: #FFE082;
	
	--red-dark: #C62828;
	--red-light: #EF9A9A;
}

@font-face {
	font-family: 'Material Icons';
	src: url('fonts/MaterialIcons-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	color: white;
	vertical-align: middle;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
    user-select: none;
}

:focus {
	outline: none !important;
	box-shadow: none;
}

.scroll-list {
	position: fixed;
	top: 61px;
	bottom: 159px;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.light-mode {
	--accent-color: var(--accent-dark);
    background-color: #ffffff;
    color: #000000;
}

.light-mode .theme-container .btn {
	color: #000000;
	background-color: #ffffff;
	border: 2px solid #bdbdbd;
}

.dark-mode {
	--accent-color: var(--accent-light); 
}

.light-mode .audio-container,
.light-mode .dropdown-menu {
	 background-color: #f4f4f4;
	 border: 2px solid #bdbdbd;
}

.light-mode .category-container {
    background-color: #f4f4f4;
}

.light-mode .radio,
.light-mode .theme-option {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #bdbdbd;
}

.light-mode .header {
	background-color: #f4f4f4;
    color: #000000;
    border-bottom: 2px solid #bdbdbd;
}

.light-mode .search-container {
    background-color: #ffffff;
}

.light-mode .search-container input{
    color: #000000;
    background-color: #ffffff;
}

.light-mode .search-container input:hover {
    color: #000000;
    background-color: #f3f3f3;
}

.light-mode .search-container input:focus{
    color: #000000;
    background-color: #ededed;
}

.dark-mode .search-container input {
	background-color: transparent;
}

.dark-mode .search-container input:hover {
    color: #ffffff;
    background-color: #333333;
}

.dark-mode .search-container input:focus {
    color: #ffffff;
    background-color: #444444;
}

.light-mode .search-container input::placeholder {
    color: #555555 !important;
}

.light-mode .search-container input::-webkit-input-placeholder {
    color: #555555 !important;
}

.light-mode .search-container input::-moz-placeholder {
    color: #555555 !important;
}

.light-mode .search-container input:-ms-input-placeholder {
    color: #555555 !important;
}

.dark-mode .search-container{
	border: 2px solid #444444;
}

.light-mode .radio.selected {
    background-color: var(--accent-color) !important;
    color: #ffffff !important;
    border-color: var(--accent-color);
}

.light-mode .radio:hover {
	background-color: #ffffff;
    color: #000000;
    border-color: var(--accent-color);
}

.light-mode .color-picker {
	border-color: #000000;
}

.material-icons {
	font-family: 'Material Icons', sans-serif;
	color: white;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transform: scale(1);
}

.light-mode .material-icons {
	color: black;
}

.light-mode .volume-slider::-ms-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-webkit-slider-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-moz-range-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-ms-track {
	background: white;
}

.light-mode .volume-slider::-webkit-slider-runnable-track {
	background: white;
}

.light-mode .volume-slider::-moz-range-track {
	background: white;
}

.light-mode #playPauseBtn .material-icons {
    color: white;
}

.dark-mode #playPauseBtn .material-icons {
    color: black;
}

.header {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: white;
    padding: 10px;
    border-bottom: 2px solid #444444;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.search-container {
    display: inline-flex;
	position: relative;
    align-items: center;
    background-color: #121212;
    border-radius: 10px;
    border: 2px solid #aaaaaa;
    padding: 0 5px;
    flex-grow: 1;
    justify-content: flex-start;
	height: 45px;
    max-width: 300px;
    min-width: 116px;
	margin: -10px 0px;
	margin-right: 10px;
}

.search-container input {
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    color: #ffffff;
    border: none;
	padding: 8px 0px 6px 28px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

.search-container input::placeholder {
    color: #cccccc !important;
	opacity: 1;
}

.search-container input::-moz-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input::-webkit-input-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input:-ms-input-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input:focus,
.search-container input:hover {
    background-color: #222222;
	transition: background-color 0.2s ease;
	-moz-transition: background-color 0.2s ease;
	-webkit-transition: background-color 0.2s ease;
	-o-transition: background-color 0.2s ease;
	-ms-transition: background-color 0.2s ease;
}

.search-container:hover {
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.search-container:focus-within {
	box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.1), 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-color: var(--accent-color) !important;
	transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
}

#Search {
	position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
	will-change: transform;
}

#clearSearch {
	position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
	display: none;
	cursor: pointer;
	will-change: transform;
}

.theme-container .btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
    background-color: #000;
	border: 2px solid #444444;
    color: white;
    height: 40px;
	width: 75px;
    font-size: 15px;
	font-weight: bold;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 8px;
}

.theme-container .btn:hover {
	box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-color: var(--accent-color);
	transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
}
.theme-container .btn:focus {
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-color: var(--accent-color);
	transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
}

.theme-container .btn .theme-icon {
    font-size: 18px;
	margin-right: 2px;
	float: left;
}

.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #121212;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    white-space: nowrap;
    border: 2px solid #444444;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
    display: flex;
	flex-direction: column;
    align-items: center;
}

.theme-option {
	display: flex;
	align-items: center;
	justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
	border: 2px solid #444;
	margin: 0px 2px;
	background-color: #000000;
}

.theme-option .theme-text {
	transform: translateY(1px);
	will-change: transform;
}

.theme-option:hover {
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1);
	border-color: var(--accent-color);
	transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
}

.theme-option .material-icons {
	font-size: 18px;
	margin-right: 5px;
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
	justify-content: center;
    align-items: center;
    margin: 0px 7px;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.color-picker:hover {
	box-shadow: -1px -1px 7px rgba(0, 0, 0, 0.2), 1px 1px 7px rgba(0, 0, 0, 0.2);
}

.theme-options-container {
    display: flex;
    justify-content: center;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222222;
    padding-top: 14px;
    text-align: center;
    z-index: 100;
    border-top: 2px solid #444;
    border-left: 0 !important; 
    border-right: 0 !important; 
    border-bottom: 0 !important;
	box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
}

.audio-title {
	font-size: 32px;
	flex-shrink: 0;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.audio-player {
    max-width: 400px;
    width: auto;
    min-width: 140px;
    border: 3px solid var(--accent-color);
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.dark-mode .audio-player {
    background-color: #121212 !important;
}

.light-mode .audio-player {
    background-color: #ffffff !important;
}

.play-pause {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 50px;
    height: 50px;
    width: 130px;
}

.audio-controls:hover {
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.volume-icon {
	margin-right: 4px;
    font-size: 30px;
    cursor: pointer;
	color: black;
}

.light-mode .volume-icon {
    color: white;
}

.dark-mode .volume-icon {
    color: black;
}

.volume-slider {
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    width: 70px; 
    height: 4px;
    background: #aaa;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
	min-width: 19px;
    min-height: 19px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
	position: relative;
	margin-top: -8px;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.volume-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
	min-width: 14px;
    min-height: 14px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
	position: relative;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.volume-slider::-ms-thumb {
    width: 18px;
    height: 18px;
	min-width: 18px;
    min-height: 18px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 5px rgba(0, 0, 0, 0.1), inset 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-ms-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
}

#playPauseBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--accent-color);
}

#playPauseBtn .material-icons {
    font-size: 36px;
}

#playPauseBtn:hover {
	box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1), 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    border-radius: 8px;
    background-color: #222;
	padding: 6px 0px 6px 0px;
}

.radio {
    background-color: #121212;
    padding: 12px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 32px);
    margin: 5px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 50px;
    color: white;
	font-weight: bold;
	justify-content: center;
}

.radio:hover {
	box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-color: var(--accent-color);
	transition: border-color 0.2s ease;
	-moz-transition: border-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease;
	-o-transition: border-color 0.2s ease;
	-ms-transition: border-color 0.2s ease;
}

.radio.selected {
	box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.1), 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color) !important;
    color: black !important;
    border-color: var(--accent-color);
}

.category {
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-flex;
	align-items: center;
}

#category-icon {
	position: relative;
	margin-right: 10px;
	font-size: 34px;
    bottom: 2px;
}

@media (max-width: 1100px) {
    .radio {
        width: calc(33.33% - 32px);
    }
}

@media (max-width: 768px) {
    .radio {
        width: calc(50% - 32px);
    }
}

@media (max-width: 520px) {
    .radio {
        width: calc(100% - 32px);
    }
	
	.audio-player {
		max-width: 85%;
	}
	
	.audio-title {
		font-size: 30px;
	}
}

@media (max-width: 380px) {
	.category {
		font-size: 24px;
	}
	
	#category-icon {
		font-size: 30px;
	}
	
	.audio-title {
		font-size: 26px;
	}
}
