:root {
    --accent-dark: #2E7D32;
	--accent-light: #A5D6A7;
	
	--green-dark: #2E7D32;
	--green-light: #A5D6A7;

	--blue-dark: #1565C0;
	--blue-light: #90CAF9;
	
	--yellow-dark: #F9A825;
	--yellow-light: #FFE082;
	
	--red-dark: #C62828;
	--red-light: #EF9A9A;
}

@font-face {
	font-family: 'Material Icons';
	src: url('fonts/MaterialIcons-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	color: white;
	vertical-align: middle;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    margin-bottom: 240px;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
	padding-top: 70px
}

.light-mode {
	--accent-color: var(--accent-dark);
    background-color: #ffffff;
    color: #000000;
}

.light-mode .btn, .light-mode .btn span {
	color: #ffffff;
}

.dark-mode .btn, .dark-mode .btn span {
	color: #000000;
}

.dark-mode {
	--accent-color: var(--accent-light); 
}

.light-mode .audio-container {
	 background-color: #f4f4f4;
	 border: 2px solid #bdbdbd;
}

.light-mode .category-container{
    background-color: #ededed;
}

.light-mode .radio,
.light-mode .dropdown-menu {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #bdbdbd;
}

.light-mode .header {
	background-color: #ffffff;
    color: #000000;
    border-bottom: 2px solid #bdbdbd;
}

.light-mode .search-container {
    background-color: #ffffff;
}

.light-mode .search-container input{
    color: #000000;
    background-color: #ffffff;
}

.light-mode .search-container input:hover {
    color: #000000;
    background-color: #f1f1f1;
}

.light-mode .search-container input:focus{
    color: #000000;
    background-color: #e3e3e3;
}

.dark-mode .search-container input {
	background-color: transparent;
}

.dark-mode .search-container input:hover {
    color: #ffffff;
    background-color: #333333;
}

.dark-mode .search-container input:focus {
    color: #ffffff;
    background-color: #444444;
}

.light-mode .search-container input::placeholder {
    color: #222;
}

.dark-mode .search-container{
	border: 2px solid #444444;
}

.light-mode .radio.selected {
    background-color: var(--accent-color) !important;
    color: #ffffff !important;
    border-color: var(--accent-color);
}

.light-mode .radio:hover {
	background-color: #ffffff;
    color: #000000;
    border-color: var(--accent-color);
}

.light-mode .color-picker {
	border-color: #000000;
}

.material-icons {
	font-family: 'Material Icons', sans-serif;
	color: white;
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	transform: scale(1);
}

.light-mode .material-icons {
	color: black;
}

.light-mode .volume-slider::-ms-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-webkit-slider-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-moz-range-thumb {
	background: var(--accent-color);
	border: 3px solid white;
}

.light-mode .volume-slider::-ms-track {
	background: white;
}

.light-mode .volume-slider::-webkit-slider-runnable-track {
	background: white;
}

.light-mode .volume-slider::-moz-range-track {
	background: white;
}

.light-mode #playPauseBtn .material-icons {
    color: white;
}

.dark-mode #playPauseBtn .material-icons {
    color: black;
}

.header {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #444;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    padding: 5px;
    flex-grow: 1;
    justify-content: center;
    max-width: 300px;
    min-width: 120px;
	margin: -10px;
	margin-right: 10px;
}

.search-container input {
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
	padding-left: 34px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.search-container input::placeholder {
    color: #eeeeee;
}

.search-container input:focus,
.search-container input:hover {
    background-color: #222222;
}

.search-container:focus-within {
    border: 2px solid var(--accent-color) !important;
}

.search-container .material-icons {
    position: absolute;
	left: 22px;
    cursor: pointer;
}

.theme-container {
    margin-right: 33px;
}

.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    white-space: nowrap;
    border: 2px solid #444444;
}

.dropdown-menu.show {
    display: block;
}

.theme-option {
    display: flex;
    justify-content: center;
	text-align: center;
    padding: 7px 0px;
    cursor: pointer;
    border-radius: 5px;
}

.light-mode .theme-option:hover {
	background-color: #e4e4e4;
}

.theme-option:hover {
	background-color: #333333;
}

.theme-option .material-icons {
	font-size: 18px;
	margin-right: 10px;
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border: 2px solid #ffffff;
}

.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    padding: 0;
    text-align: center;
    z-index: 100;
    border-top: 2px solid #444;
    border-left: 0 !important; 
    border-right: 0 !important; 
    border-bottom: 0 !important;
}

.audio-title {
	font-size: clamp(26px, 4vw, 32px);
	flex-shrink: 0;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.audio-player {
    max-width: 400px;
    width: auto;
    min-width: 140px;
    border: 3px solid var(--accent-color);
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.dark-mode .audio-player {
    background-color: #121212 !important;
}

.light-mode .audio-player {
    background-color: #ffffff !important;
}

.play-pause {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 50px;
    height: 50px;
    width: 130px;
}

.volume-icon {
	margin-right: 4px;
    font-size: 30px;
    cursor: pointer;
	color: black;
}

.light-mode .volume-icon {
    color: white;
}

.dark-mode .volume-icon {
    color: black;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70px; 
    height: 4px;
    background: #aaa;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
	min-width: 19px;
    min-height: 19px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
	position: relative;
	margin-top: -8px;
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.volume-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
	min-width: 14px;
    min-height: 14px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
	position: relative;
}

.volume-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
}

.volume-slider::-ms-thumb {
    width: 18px;
    height: 18px;
	min-width: 18px;
    min-height: 18px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid black;
    cursor: pointer;
}

.volume-slider::-ms-track {
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 2px;
    border: none;
}

#playPauseBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--accent-color);
}

#playPauseBtn .material-icons {
    font-size: 36px;
}

.btn {
	display: inline-flex;
    background-color: var(--accent-color);
	font-weight: bold;
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
	align-items: center;
	line-height: 1;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn .material-icons {
	margin-right: 3px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin: 20px 10px;
    border-radius: 8px;
    background-color: #222;
}

.radio {
    background-color: #222;
    padding: 12px;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    width: calc(25% - 32px);
    margin: 8px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 8px;
    color: white;
	font-weight: bold;
}

.radio:hover {
	background-color: #222222;
	color: white;
    border-color: var(--accent-color);
}

.radio.selected {
    background-color: var(--accent-color) !important;
    color: black !important;
    border-color: var(--accent-color);
}

.category {
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 40px;
    padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1100px) {
    .radio {
        width: calc(33.33% - 32px);
    }
}

@media (max-width: 768px) {
    .radio {
        width: calc(50% - 32px);
    }
}

@media (max-width: 520px) {
    .radio {
        width: calc(100% - 32px);
    }
	
	.audio-player {
		max-width: 85%;
		
	}
}
