/* ================ */
/* ROOT & VARIABLES */
/* ================ */
:root {
    --accent-dark: #00639B;
    --accent-light: #97CBFF;
    
    --green-dark: #266A4A;
    --green-light: #BBF294;

    --blue-dark: #00639B;
    --blue-light: #97CBFF;
    
    --yellow-dark: #835900;
    --yellow-light: #FFE084;
    
    --red-dark: #9C4049;
    --red-light: #FF8E88;
}

/* ========== */
/* TYPOGRAPHY */
/* ========== */
@font-face {
    font-family: 'Material Icons';
    src: url('fonts/MaterialIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    vertical-align: middle;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    color: #ffffff;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: scale(1);
}

/* ========= */
/* BASE STYLES */
/* ========= */
body {
    font-family: "Inter", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #ffffff;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
	overscroll-behavior-y: contain;
}

* {
    font: inherit;
    outline: inherit;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

button {
    border: none;
    outline: none;
    padding: 0;
}

:focus {
    outline: none !important;
}

/* ========== */
/* THEME MODES */
/* ========== */
.dark-mode {
    --accent-color: var(--accent-light); 
}

.dark-mode .search-container input {
    background-color: transparent;
}

.dark-mode .search-container input:hover {
   
    background-color: transparent;
}

.dark-mode .search-container input:focus {
    background-color: #383838;
}

.dark-mode .audio-player {
    background-color: #121212 !important;
}

.dark-mode .volume-icon,
.light-mode .material-icons,
.dark-mode #playPauseBtn .material-icons {
    color: #000000;
}

.light-mode {
    --accent-color: var(--accent-dark);
    background-color: #f0f0f0;
    color: #000000;
}

.light-mode #recentlyPlayedContainer,
.light-mode .audio-container,
.light-mode .dropdown-menu {
    background-color: #f0f0f0;
    border-color: #bdbdbd;
}

.light-mode .theme-container .btn,
.light-mode .radio,
.light-mode .theme-option {
    background-color: #ffffff;
    color: #000000;
    border-color: #bdbdbd;
}

.light-mode .expand-button,
.light-mode .header {
    background-color: #f0f0f0;
    color: #000000;
    border-bottom-color: #bdbdbd;
}

.light-mode .scroll-list {
    background-color: #ffffff;
}

.light-mode .color-picker {
    border-color: #000000;
}

.light-mode .volume-slider::-ms-thumb {
    border-color: #ffffff;
}

.light-mode .volume-slider::-webkit-slider-thumb {
    border-color: #ffffff;
}

.light-mode .volume-slider::-moz-range-thumb {
    border-color: #ffffff;
}

.light-mode .volume-slider::-ms-track {
    background: #ffffff;
}

.light-mode .volume-slider::-webkit-slider-runnable-track {
    background: #ffffff;
}

.light-mode .volume-slider::-moz-range-track {
    background: #ffffff;
}

.light-mode .volume-icon,
.light-mode .genre-button.active .material-icons,
.light-mode #playPauseBtn .material-icons {
    color: #ffffff;
}

.light-mode .radio.selected {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
	border-color: #bdbdbd;
}

.light-mode .recently-played-toggle {
    border-color: #bdbdbd;
}

.light-mode .recently-played-toggle:hover::before {
    background-color: #000000;
}

.light-mode .recently-played-toggle.empty::before {
    background-color: #bdbdbd;
}

.light-mode .recently-played-toggle::before {
	background-color: #979797;
}

.light-mode .category-container,
.light-mode .recently-played-toggle,
.light-mode .genre-buttons-wrapper {
    background-color: #f0f0f0;
}

.light-mode .genre-button {
	color: #000000;
	background-color: #ffffff;
}

.light-mode .genre-button .material-icons {
	color: #000000;
}

.light-mode .genre-nav-button {
    background-color: #f0f0f0;
    color: #000000;
}

.light-mode .genre-button.active {
    background-color: var(--accent-color);
    color: #ffffff;
}

.light-mode .genre-nav-button.left {
    box-shadow: 25px 0px 10px rgba(240, 240, 240, 1);
}

.light-mode .genre-nav-button.right {
    box-shadow: -25px 0px 10px rgba(240, 240, 240, 1);
}

.light-mode .expand-button[data-expanded="false"] {
    box-shadow: 0px -28px 15px rgba(240, 240, 240, 1);
}

.light-mode .audio-player {
    background-color: #ffffff !important;
}

.light-mode .search-container {
    background-color: #ffffff;
    border-color: #bdbdbd;
}

.light-mode .search-container input {
	color: #000000;
}

.light-mode .search-container input:focus{
    background-color: #ededed;
}

.light-mode .search-container input::placeholder {
    color: #555555 !important;
}

.light-mode .search-container input::-webkit-input-placeholder {
    color: #555555 !important;
}

.light-mode .search-container input::-moz-placeholder {
    color: #555555 !important;
}

.light-mode .search-container input:-ms-input-placeholder {
    color: #555555 !important;
}

.light-mode .genre-tooltip-item {
	border-color: #bdbdbd;
	background-color: #f9f9f9;
}

.light-mode .genre-tooltip {
	color: #000000;
	background-color: #f0f0f0;
	border-color: #bdbdbd;
}

.light-mode .genre-tooltip-item .material-icons {
	color: #000000 !important;
	background: none !important;
}

.light-mode .info-icon .material-icons {
	color: #f0f0f0;
	background-color: #979797;
}

.light-mode .genre-tooltip strong {
	border-bottom-color: #979797;
}

.light-mode .theme-option:hover,
.light-mode .search-container:hover,
.light-mode .theme-container .btn:hover {
	border-color: #979797;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 4px #979797;
}

.light-mode .theme-container .btn:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 4px var(--accent-color);
}

.light-mode .genre-button:hover {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 4px var(--accent-color);
}

.light-mode .radio:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 4px var(--accent-dark);
	background-color: #ffffff;
}

.light-mode .song-title::after{
    background: linear-gradient(270deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0) 100%);
}

.light-mode #marquee-fade-left {
    background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(240,240,240,0) 100%);
}

/* ======== */
/* HEADER */
/* ======== */
.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: #ffffff;
    padding: 10px;
    border-bottom: 2px solid #444444;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* ============ */
/* SEARCH COMPONENT */
/* ============ */
.search-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    background-color: #121212;
    border-radius: 10px;
    border: 2px solid #444444;
    padding: 5px 5px;
    flex-grow: 1;
    justify-content: flex-start;
    height: 44px;
    max-width: 250px;
    min-width: 116px;
    margin-right: 10px;
}

.search-container input {
    display: flex;
    align-items: center;
    vertical-align: middle;
    flex-grow: 1;
    min-width: 0;
    background-color: transparent;
    color: #ffffff;
    border: none;
    height: 30px;
    padding: 0px 30px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
	transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
    -moz-transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
    -webkit-transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
    -o-transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
    -ms-transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;
}

.search-container input::placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input::-moz-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input::-webkit-input-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container input:-ms-input-placeholder {
    color: #cccccc !important;
    opacity: 1;
}

.search-container:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 8px #777;
	border-color: #777;
}

.search-container:focus-within {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-color: var(--accent-color) !important;
	transition: border-color 0.2s linear;
    -moz-transition: border-color 0.2s linear;
    -webkit-transition: border-color 0.2s linear;
    -o-transition: border-color 0.2s linear;
    -ms-transition: border-color 0.2s linear;
}

#Search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    will-change: transform;
}

#clearSearch {
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    display: none;
    cursor: pointer;
    will-change: transform;
}

#clearSearch:hover {
	color: var(--accent-color);
}

.no-results {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    color: #888;
}

.no-results .material-icons {
    font-size: 48px;
    margin-bottom: 15px;
    color: var(--accent-color);
}

.no-results p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

/* ============ */
/* THEME CONTROLS */
/* ============ */
.theme-container .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    display: -moz-inline-box;
    -moz-box-orient: horizontal !important;
    -moz-box-align: center !important;
    -moz-box-pack: center !important;
    background-color: #121212;
    border: 2px solid #444444;
    color: #ffffff;
    height: 44px;
    width: 88px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    padding: 0 8px;
    white-space: nowrap;
    line-height: 44px;
	transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -moz-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -webkit-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -o-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -ms-transition: border-color 0.2s linear, box-shadow 0.2s linear;
}

.theme-container .btn .material-icons {
    font-size: 18px;
    margin-right: 4px;
    display: -moz-inline-box !important;
    -moz-box-align: center !important;
    vertical-align: middle !important;
    width: 18px;
    height: 18px;
    line-height: 18px;
}

.theme-container .btn > span:not(.material-icons) {
    display: -moz-inline-box !important;
    -moz-box-align: center !important;
    vertical-align: middle !important;
}

.theme-container .btn:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 8px #777;
    border-color: #777;
}

.theme-container .btn:focus {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 8px var(--accent-color);
    border-color: var(--accent-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.dropdown-menu {
    opacity: 0;
	display: none;
    position: absolute;
    right: 0;
    background-color: #222222;
    border-radius: 8px;
    z-index: 1000;
    white-space: nowrap;
    border: 2px solid #444444;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
	padding: 10px 7px;
}

.dropdown-menu.show {
	opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-option {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 44px;
    width: 92px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid #444;
	margin: 0 3px;
    background-color: #121212;
    font-size: 16px;
	transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -moz-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -webkit-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -o-transition: border-color 0.2s linear, box-shadow 0.2s linear;
    -ms-transition: border-color 0.2s linear, box-shadow 0.2s linear;
}

.theme-option:hover {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 8px #777;
	border-color: #777;
}

.theme-option .material-icons {
    font-size: 18px;
    margin-right: 2px;
}

.color-picker {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 6px;
    cursor: pointer;
    border: 2px solid #ffffff;
	transition: transform 0.1s ease-out;
    -moz-transition: transform 0.1s ease-out;
    -webkit-transition: transform 0.1s ease-out;
    -o-transition: transform 0.1s ease-out;
    -ms-transition: transform 0.1s ease-out;
}

.color-picker:hover {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
	will-change: transform;
}

.theme-options-container {
    display: flex;
    justify-content: center;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

/* SCROLLBAR */
.scroll-list {
    background-color: #0f0f0f;
    position: absolute;
    top: 65.5px;
    bottom: 150px;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
	transition: bottom 0.3s ease;
}

.scroll-list::-webkit-scrollbar {
    display: none;
}

.audio-container.expanded ~ .scroll-list {
    bottom: 210px;
}

.audio-container.expanded ~ .scroll-list .scrollbar-track {
    bottom: 210px;
}

.audio-container.has-now-playing.expanded ~ .scroll-list {
    bottom: 220px;
}

.audio-container.has-now-playing.expanded ~ .scroll-list .scrollbar-track {
    bottom: 220px;
}

.scrollbar-track {
    position: fixed;
    right: 0;
    top: 65.5px;
    bottom: 150px;
    width: 12px;
    z-index: 100;
    pointer-events: auto;
    background-color: transparent;
	padding: 0 8px;
	transition: bottom 0.3s ease;
}

.scrollbar-thumb {
    position: absolute;
    right: 2px;
    width: 3px;
    background-color: #888888;
    border-radius: 4px;
    transition: width 0.2s ease, background-color 0.2s linear, opacity 0.2s linear;
	-moz-transition: width 0.2s ease, background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: width 0.2s ease, background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: width 0.2s ease, background-color 0.2s linear, opacity 0.2s linear;
    -ms-transition: width 0.2s ease, background-color 0.2s linear, opacity 0.2s linear;
    pointer-events: auto;
	touch-action: none;
	opacity: 0;
}

.scrollbar-thumb.visible {
    opacity: 1;
}

.scrollbar-thumb.hovering,
.scrollbar-thumb.dragging {
    width: 6px;
    opacity: 1;
    background-color: var(--accent-color);
}

/* ============ */
/* GENRE BUTTONS */
/* ============ */
.genre-buttons-wrapper {
    position: relative;
    margin: 10px 15px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #222;
    padding: 10px;
    overflow: hidden;
}

.genre-buttons {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    overflow: hidden;
    padding: 0 5px !important;
    margin: 0 -5px;
}

.genre-buttons::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

.genre-button {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 50px;
    background-color: #121212;
    border: 2px solid var(--accent-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
	-moz-transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    -o-transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    -ms-transition: color 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;
    margin: 0 5px;
    min-width: 71px;
    height: 70px;
    box-sizing: border-box;
    color: #ffffff;
	padding: 0 15px;
}

.genre-button:hover {
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), inset 0px 0px 10px var(--accent-color);
}

.genre-button span:not(.material-icons) {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.genre-button .material-icons {
    font-size: 24px;
    margin-bottom: 5px;
    color: #ffffff;
}

.genre-button.active {
    background-color: var(--accent-color);
    color: #000000;
    transition: color 0.2s linear, background-color 0.2s linear, filter 0.2s linear;
	-moz-transition: color 0.2s linear, background-color 0.2s linear, filter 0.2s linear;
    -webkit-transition: color 0.2s linear, background-color 0.2s linear, filter 0.2s linear;
    -o-transition: color 0.2s linear, background-color 0.2s linear, filter 0.2s linear;
    -ms-transition: color 0.2s linear, background-color 0.2s linear, filter 0.2s linear;
}

.genre-button.active .material-icons {
    color: #000000;
}

.genre-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    background-color: #222;
    border: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    display: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    justify-content: center;
	transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
    -moz-transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
    -webkit-transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
    -o-transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
    -ms-transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear, color 0.2s linear;
}

.genre-nav-button.left {
    left: 0px;
    border-left: 2px solid transparent;
    box-shadow: 25px 0px 10px rgba(34, 34, 34, 1);
}

.genre-nav-button.right {
    right: 0px;
    border-right: 2px solid transparent;
    box-shadow: -25px 0px 10px rgba(34, 34, 34, 1);
}

.genre-nav-button.left:hover {
    border-left: 2px solid var(--accent-color);
}

.genre-nav-button.right:hover {
    border-right: 2px solid var(--accent-color);
}

.genre-nav-button .material-icons {
    font-size: 26px;
}

/* ============ */
/* AUDIO PLAYER */
/* ============ */
.audio-container {
    height: 150px;
    overflow: visible !important;
    will-change: height;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222222;
    text-align: center;
    z-index: 100;
    border: none;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
	transition: height 0.3s ease;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.audio-container.has-now-playing {
    height: 160px;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.audio-container.has-now-playing.expanded {
    height: 220px;
}

.audio-container.expanded {
    height: 210px;
}

.audio-wrapper {
    text-align: left;
    position: relative;
    overflow: hidden;
	white-space: nowrap;
	display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 270px;
    max-width: 350px;
    width: auto;
    margin: 0 auto;
}

/* ============ */
/* AUDIO PLAYER TEXT */
/* ============ */
.audio-title {
    position: relative;
	display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
	max-width: 340px;
    margin: 0 5px;
    padding: 0;
    text-align: left;
    z-index: 10000;
    transition: all 0.3s ease-out;
    opacity: 1;
	height: auto;
}

.has-now-playing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.audio-title-container {
	min-width: 270px;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    display: flex;
	z-index: 1003;
    margin: 0;
    padding: 0;
    position: relative;
}

.song-title {
    text-overflow: ellipsis;
    overflow: visible;
    will-change: transform;
    font-size: 28px;
    opacity: 1;
    animation: fade 0.2s linear;
	white-space: nowrap;
    display: inline-block;
    box-sizing: border-box;
	position: relative;
}

.song-title::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(270deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0) 100%);
    pointer-events: none;
    z-index: 2;
	opacity: 0;
}

.song-title.marquee-active::after {
    opacity: 1;
}

.has-now-playing .station-name {
    font-size: 18px;
	opacity: 0.7;
	transition: opacity 0.4s linear;
	z-index: 3;
}

.marquee-clone {
    display: inline-block;
    padding-left: 100px;
}

#marquee-fade-left {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    pointer-events: none;
    z-index: 2;
	left: 0;
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0) 100%);
}

.song-title > div {
    will-change: transform;
}

@keyframes fade {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-200% + 200px)); }
}

/* Animation for fade effects when text is animating */
@keyframes fadeEdges {
    0%, 20% {
        mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
        -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
    }
    80%, 100% {
        mask-image: linear-gradient(90deg, black 0%, black 100%);
        -webkit-mask-image: linear-gradient(90deg, black 0%, black 100%);
    }
}

.audio-player {
	    min-width: 270px;
    max-width: 350px;
    width: auto; /* Expands with content */
    display: inline-flex; /* Better for auto width */
	
	
    position: relative !important;
    z-index: 1001 !important;
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 1;
    border: 3px solid var(--accent-color);
    border-radius: 40px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0px 15px 0px;
    transform: none;
	transition: border-radius 0.1s linear;
    -moz-transition: border-radius 0.1s linear;
    -webkit-transition: border-radius 0.1s linear;
    -o-transition: border-radius 0.1s linear;
    -ms-transition: border-radius 0.1s linear;
}

/* When play icon is shown (paused state) */
.audio-player.play-mode {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.play-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

#playPauseBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    background-color: var(--accent-color);
    transition: box-shadow 0.2s linear, filter 0.2s linear, border-radius 0.05s linear;
    -moz-transition: box-shadow 0.2s linear, filter 0.2s linear, border-radius 0.05s linear;
    -webkit-transition: box-shadow 0.2s linear, filter 0.2s linear, border-radius 0.05s linear;
    -o-transition: box-shadow 0.2s linear, filter 0.2s linear, border-radius 0.05s linear;
    -ms-transition: box-shadow 0.2s linear, filter 0.2s linear, border-radius 0.05s linear;
}

#playPauseBtn.play-mode {
    border-radius: 50px;
}

#playPauseBtn .material-icons {
    font-size: 36px;
}

#playPauseBtn:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    filter: contrast(0.9);
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border-radius: 50px;
    height: 50px;
    width: 130px;
    transition: box-shadow 0.2s linear, filter 0.2s linear;
    -moz-transition: box-shadow 0.2s linear, filter 0.2s linear;
    -webkit-transition: box-shadow 0.2s linear, filter 0.2s linear;
    -o-transition: box-shadow 0.2s linear, filter 0.2s linear;
    -ms-transition: box-shadow 0.2s linear, filter 0.2s linear;
}

.audio-controls:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    filter: contrast(0.9);
}

.volume-icon {
    margin-right: 4px;
    font-size: 30px;
    cursor: pointer;
    color: #000000;
}

.volume-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 70px; 
    height: 4px;
    background: #000;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 19px;
    height: 19px;
    min-width: 19px;
    min-height: 19px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid #000000;
    cursor: pointer;
    position: relative;
    margin-top: -8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 2px;
}

.volume-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid #000000;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 2px;
}

.volume-slider::-ms-thumb {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    background: var(--accent-color);
    border-radius: 50%;
    border: 3px solid #000000;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.volume-slider::-ms-track {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 2px;
}

/* Toggle Container */
.recently-played-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #222;
    border-top: 2px solid #444;
    border-bottom: none;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: 110;
    display: flex;
    flex-direction: column;
}

/* Toggle Handle (always visible) */
.toggle-handle {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle-handle::before {
    content: '';
    display: block;
    width: 40px;
    height: 4px;
    background: #777;
    border-radius: 2px;
    transition: all 0.2s ease;
}

.toggle-handle:hover::before {
    background: #ffffff;
    width: 60px;
}

/* Buttons Container */
.toggle-buttons {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed #444;
}

.audio-container.expanded .toggle-buttons {
    display: flex;
}

/* Buttons */
.history-btn, .info-icon {
    background: transparent;
    border: 2px solid var(--accent-dark);
    border-radius: 20px;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	padding: 5px 10px;
	color: #fff;
	font-size: 16px;
	margin: 10px;
}

.history-btn .material-icons,
.info-icon .material-icons {
    font-size: 20px;
    color: #fff;
	margin-right: 2px;
}

/* History Dropdown */
.history-dropdown {
    position: fixed;
    bottom: 195px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: auto;
    max-height: 300px;
    background: #222;
    border: 2px solid #444;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    z-index: 120;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.recently-played-wrapper {
    position: relative;
    border-radius: 8px;
    background-color: #222;
    padding: 0;
    overflow: hidden;
}

.recently-played-stations {
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    margin: 5px ;
    scroll-behavior: smooth;
}

.recently-played-stations::-webkit-scrollbar {
    display: none;
}

.history-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    background-color: #222;
    border: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    display: none;
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    justify-content: center;
    transition: border-right 0.2s linear, border-left 0.2s linear, box-shadow 0.2s linear;
}

.history-nav-button.left {
    left: 0;
    border-right: 2px solid transparent;
    box-shadow: 30px 0px 12px rgba(34, 34, 34, 1);
}

.history-nav-button.right {
    right: 0;
    border-left: 2px solid transparent;
    box-shadow: -30px 0px 12px rgba(34, 34, 34, 1);
}

.history-nav-button.left:hover {
    border-right: 2px solid var(--accent-color);
}

.history-nav-button.right:hover {
    border-left: 2px solid var(--accent-color);
}

.history-nav-button .material-icons {
    font-size: 26px;
}

.recently-played-title {
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
	font-size: 22px;
    border-bottom: 1px solid #444;
}

.recently-played-title .material-icons {
    margin-right: 5px;
	font-size: 22px;
}

.genre-tooltip {
	display: none;
    position: fixed;
    bottom: 195px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    background-color: #222;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    max-width: 500px;
    opacity: 0;
    transition: opacity 0.1s linear, box-shadow 0.1s linear;
	-moz-transition: opacity 0.1s linear, box-shadow 0.1s linear;
    -webkit-transition: opacity 0.1s linear, box-shadow 0.1s linear;
    -o-transition: opacity 0.1s linear, box-shadow 0.1s linear;
    -ms-transition: opacity 0.1s linear, box-shadow 0.1s linear;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	border: 2px solid #444;
	cursor: default;
}

.genre-tooltip-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 0 5px 0;
    border: 2px solid #444;
    border-radius: 20px;
    white-space: nowrap;
    background-color: #191919;
}

.genre-tooltip-item:first-child {
    margin-top: 0;
}

.genre-tooltip-item:last-child {
    margin-bottom: 0;
}

.genre-tooltip-item .material-icons {
    font-size: 20px;
    color: #ffffff;
    margin-right: 3px;
    display: inline-flex;
    background: none;
    vertical-align: middle;
	pointer-events: none;
}

.genre-tooltip-item span {
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}

.genre-tooltip strong {
    display: block;
    padding: 5px 0;
    font-size: 16px;
	font-weight: 600;
	border-bottom: 1px solid #777;
	margin: -2px -10px 10px -10px;
}

.genre-tooltip.visible {
    opacity: 1;
	display: block;
}

/* ============ */
/* RADIO STATIONS */
/* ============ */
.category-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 10px 15px;
    border-radius: 8px;
    background-color: #222;
    padding: 5px 10px 5px 10px;
    max-width: calc(100% - 30px);
    box-sizing: border-box;
}

.radio {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: #121212;
    font-size: 18px;
    cursor: pointer;
	height: 50px;
    width: calc(14.285% - 20px);
    margin: 5px;
    border: 2px solid #444;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
	vertical-align: middle;
	transition: border-color 0.2s linear, filter 0.2s linear;
    -moz-transition: border-color 0.2s linear, filter 0.2s linear;
    -webkit-transition: border-color 0.2s linear, filter 0.2s linear;
    -o-transition: border-color 0.2s linear, filter 0.2s linear;
    -ms-transition: border-color 0.2s linear, filter 0.2s linear;
}

.radio-text {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 17px;
}

.radio:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 8px var(--accent-dark);
    border-color: var(--accent-dark);
}

.no-transition {
    transition: none !important;
}

.radio.selected {
	color: var(--accent-color);
	position: relative;
	border-color: #444;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.radio.selected:hover {
	 filter: contrast(0.95);
	 box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.radio.selected::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 15%;
	right: 15%;
	height: 2px;
    background: linear-gradient(to right, 
        transparent 0%,
        var(--accent-color) 25%,
        var(--accent-color) 75%,
        transparent 100%
    );
	transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}

.radio.selected:hover::after {
    left: 8%;
	right: 8%;
}

.category {
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    align-items: center;
}

.category-genre {
    font-size: 26px;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    align-items: center;
}

#category-icon {
    position: relative;
    margin-right: 10px;
    font-size: 30px;
    bottom: 1px;
}

.category-container.has-expand-button {
    margin-bottom: 60px !important;
}

.category-container.no-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.expand-button {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    white-space: nowrap;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    background-color: #222222;
    width: 100%;
    height: 35px;
    border-radius: 0px 0px 8px 8px;
    border: none;
    bottom: -35px;
    left: 0;
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    padding: 0;
	transition: border-top 0.2s linear, border-bottom 0.2s linear, box-shadow 0.2s linear;
    -moz-transition: border-top 0.2s linear, border-bottom 0.2s linear, box-shadow 0.2s linear;
    -webkit-transition: border-top 0.2s linear, border-bottom 0.2s linear, box-shadow 0.2s linear;
    -o-transition: border-top 0.2s linear, border-bottom 0.2s linear, box-shadow 0.2s linear;
    -ms-transition: border-top 0.2s linear, border-bottom 0.2s linear, box-shadow 0.2s linear;
}

.expand-button .material-icons {
    font-size: 32px;
    transform: translateY(1px);
    vertical-align: middle;
    margin-right: 4px;
    flex-shrink: 0;
}

.expand-button .expand-text  {
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    vertical-align: middle;
}

.expand-button[data-expanded="false"] {
    box-shadow: 0px -25px 15px rgba(34, 34, 34, 1);
    border-bottom: 2px solid transparent;
}

.expand-button[data-expanded="false"]:hover {
    border-color: var(--accent-color);
    box-shadow: none;
}

.expand-button[data-expanded="true"] {
    box-shadow: none;
    border-top: 2px solid transparent;
}

.expand-button[data-expanded="true"]:hover {
    border-color: var(--accent-color);
}

/* ============ */
/* EQUALIZER */
/* ============ */
.equalizer {
    height: 7px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    justify-content: center;
    bottom: 1px;
    padding: 0 2px;
    box-sizing: border-box;
    gap: 2px;
	contain: strict;
}

.equalizer div {
    width: 6px !important;
    transform: translateZ(0) scaleY(0);
}

.equalizer.animate div {
    height: 5px;
    background-color: var(--accent-color);
	opacity: 0.4;
    transition: background-color 0.2s linear;
    animation: equalizer 0.9s infinite ease-in-out;
    transform-origin: bottom;
	will-change: transform;
	border-radius: 1px 1px 0 0;
}

@keyframes equalizer {
    0%, 100% { transform: translateZ(0) scaleY(0.5); }
    50% { transform: translateZ(0) scaleY(1); }
}

.equalizer.animate div:nth-child(7n+1) { animation-delay: 0s; }
.equalizer.animate div:nth-child(7n+2) { animation-delay: -0.2s; }
.equalizer.animate div:nth-child(7n+3) { animation-delay: -0.4s; }
.equalizer.animate div:nth-child(7n+4) { animation-delay: -0.6s; }
.equalizer.animate div:nth-child(7n+5) { animation-delay: -0.4s; }
.equalizer.animate div:nth-child(7n+6) { animation-delay: -0.3s; }
.equalizer.animate div:nth-child(7n+7) { animation-delay: -0.15s; }


/* ============ */
/* MEDIA QUERIES */
/* ============ */
@media (max-width: 1580px) {
    .radio { width: calc(16.66% - 20px); }
}

@media (max-width: 1340px) {
    .radio { width: calc(20% - 20px); }
}

@media (max-width: 1140px) {
    .radio { width: calc(25% - 20px); }
}

@media (max-width: 930px) {
    .radio { width: calc(33.33% - 20px); }
}

@media (max-width: 730px) {
    .radio { width: calc(50% - 20px); }
}

@media (max-width: 470px) {
    .radio { width: calc(100% - 20px); }
}

@media (max-width: 380px) {
    .category { font-size: 24px; }
    #category-icon { font-size: 30px; }
}